body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("snake-image.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    width: 900px;
    max-height: 600px;
    background-color: rgb(103, 172, 103);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
    text-align: center;
}

.header-font {
    font-size: 84px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.start-button {
    width: 200px;
    height: 60px;
    margin-top: 40px;
}

.rule-text {
    margin-bottom: 5px;
    color: rgb(0, 134, 0);
}

.game-rules {
    text-align: left;
    margin: auto;
    width: 55%;
    border-radius: 10px;
    background: white;
    padding: 20px 20px 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-area {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 800px;
    width: 800px;
    border: 30px solid black;
    margin: auto;
    background-color: rgb(103, 172, 103);
    opacity: 0.9;
}

.game-modal-overlay {
    background-color: rgb(103, 172, 103);
    opacity: 0.8;
    text-align: center;
}

.game-modal {
    border-radius: 10px;
}

.modal-font {
    font-size: 64px;
    font-weight: bold;
    color: white;
}

.back-button {
    width: 200px;
    height: 60px;
    margin: 20px 0 50px 0;
}

.footer-modal {
    background-color: rgb(103, 172, 103);
    opacity: 0.8;
    text-align: center;
}

.snake-dot {
    position: absolute;
    height: 2%;
    width: 2%;
    background-color: black;
    border: 1px solid white;
    z-index: 2;
}

.food-dot {
    position: absolute;
    height: 2%;
    width: 2%;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}

.score-card {
    width: 250px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 15px solid black;
    background-color: rgb(103, 172, 103);
    opacity: 0.9;
    padding: 10px;
    text-align: center;
}

.score-card p {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
